---
layout: default
title: Home
---
	{% include hero.html %}

	{% include header.html %}

	{% include about.html %}

	<section id="counters" class="section align-center overlay bg-cover bg5 light-text">
		<div class="container">

			<div class="row counters-wrapper">
				<div class="col-sm-3">
					<div class="counter-block counter-block-no-border">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count" data-from="0" data-to="136">0</span>

								<p class="title">speakers</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="counter-block counter-block-no-border">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count" data-from="0" data-to="5">0</span>

								<p class="title">days</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="counter-block counter-block-no-border">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count" data-from="0" data-to="25">0</span>

								<p class="title">workshops</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-sm-3">
					<div class="counter-block counter-block-no-border">
						<div class="counter-box">
							<div class="counter-content">
								<span class="count" data-from="0" data-to="200">0</span>

								<p class="title">speeches</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>

	<section id="speakers" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-faces-users-04"></span>
			<h3>Proposed Speakers</h3>
			<p class="text-alt">Meet our <span class="highlight">leaders</span></p>
			<br />
			<br />

			<div class="row">

			{% for speaker in site.data.speakers limit: 3 %}

				<div class="col-sm-4">
					<div class="speaker">
						<div class="photo-wrapper rounded"><a href="{{ speaker.permalink }}"><img src="assets/img/speakers/{{ speaker.image }}" alt="{{ speaker.name }}" class="img-responsive"></a></div>
						<h3 class="name">{{ speaker.name }}</h3>
						<p class="text-alt"><small><strong>{{ speaker.jobTitle }}</strong><br/>{{ speaker.worksFor.name }}</small></p>
						<p class="about">{{ speaker.description | truncate: 160 }} </p>
						<ul class="speaker-socials">
							<li><a href="mailto:{{ speaker.email }}"><span class="fa fa-envelope"></span></a></li>
						</ul>
					</div>
				</div>

			{% endfor %}

			</div>

			<div class="row">

			{% for speaker in site.data.speakers limit: 3 offset: 3%}

				<div class="col-sm-4">
					<div class="speaker">
						<div class="photo-wrapper rounded"><a href="{{ speaker.permalink }}"><img src="assets/img/speakers/{{ speaker.image }}" alt="{{ speaker.name }}" class="img-responsive"></a></div>
						<h3 class="name">{{ speaker.name }}</h3>
						<p class="text-alt"><small><strong>{{ speaker.jobTitle }}</strong><br/>{{ speaker.worksFor.name }}</small></p>
						<p class="about">{{ speaker.description | truncate: 160 }} </p>
						<ul class="speaker-socials">
							<li><a href="mailto:{{ speaker.email }}"><span class="fa fa-envelope"></span></a></li>
						</ul>
					</div>
				</div>

			{% endfor %}

			</div>

		</div>
	</section>

	{% include schedule.html %}

	<section id="sign_up" class="section bg-cover overlay bg4 light-text align-center">
		<div class="container">
			<h2><span class="highlight">Newsletter</span> Sign Up</h2>
			<small>No Spam - Only latest news, price and activity updates</small>
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<form id="subscribe_main" action="" method="post" enctype="multipart/form-data" class="form row newsletter-form mailchimp-form">
					<fieldset class="col-sm-8">
						<input id="NewsletterEmail" name="NewsletterEmail" type="email" placeholder="email@email.com">
					</fieldset>
					<fieldset class="col-sm-4">
						<input type="submit" value="submit" class="btn btn-sm btn-outline-clr">
					</fieldset>
					<div class="response"></div>
				</form>
			</div>
		</div>
	</section>

	<section id="prices" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-shopping-04"></span>
			<h3>Tickets</h3>
			<p class="text-alt">Get yours why they are still <span class="highlight">available</span></p>
			<br/>
			<br/>

			<div class="row">
				<div class="col-sm-4">
					<div class="package-column">
						<h6 class="package-title">Early Bird</h6>
						<div class="package-price">
							<span class="currency">$</span>33
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>Regular Seating</li>
								<li><span class="fa fa-check check-icon"></span>Free Snacks</li>
								<li><span class="fa fa-check check-icon"></span>Custom Badge</li>
							</ul>
						</div>
						<a href="#" class="btn btn-lg btn-outline-clr">Buy now</a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="package-column special-column">
						<span class="sale-label uppercase">Hot!</span>
						<h6 class="package-title">Silver Pass</h6>
						<div class="package-price">
							<span class="currency">$</span>99
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>Regular Seating</li>
								<li><span class="fa fa-check check-icon"></span>Free Snacks</li>
								<li><span class="fa fa-check check-icon"></span>Custom Badge</li>
							</ul>
						</div>
						<a href="#" class="btn btn-lg">Buy now</a>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="package-column">
						<h6 class="package-title">Gold Pass</h6>
						<div class="package-price">
							<span class="currency">$</span>150
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>Regular Seating</li>
								<li><span class="fa fa-check check-icon"></span>Free Snacks</li>
								<li><span class="fa fa-check check-icon"></span>Custom Badge</li>
							</ul>
						</div>
						<a href="#" class="btn btn-lg btn-outline-clr">Buy now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="feedback" class="section align-center" style="padding-top: 25px;">
		<div class="container">
			<h5 class="heading-alt">TESTIMONIALS</h5>
			<p class="text-alt" style="margin-bottom: 80px;">what people <span class="highlight">say</span></p>

			<div class="row">
				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">Esse maxime tempore maiores laboriosam nobis, aut cum quidem est ab ipsam soluta voluptate totam quibusdam quo neque doloremque, provident asperiores error pariatur.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('assets/img/testimonials/client1.jpg')"></div>

							<strong class="name">Rebecca Smith</strong>
							<small class="text-alt company">Designer @ Baffle</small>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">Illo repellat dolores laudantium quos, velit, reprehenderit veniam accusamus neque laboriosam tenetur aut quaerat, doloribus autem, facere molestiae? Quisquam ducimus, nesciunt mollitia.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('assets/img/testimonials/client2.jpg')"></div>

							<strong class="name">Michael Scherzzinger</strong>
							<small class="text-alt company">CTO @ Flopbox</small>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="testimonial">
						<article class="text-box">Recusandae minima similique rem. Neque quisquam, blanditiis cum, ex ullam obcaecati beatae nobis quos, officia rerum, exercitationem ducimus totam quibusdam! Quia, illum.</article>
						<div class="author-block">
							<div class="photo-container" style="background-image: url('assets/img/testimonials/client3.jpg')"></div>

							<strong class="name">Mike Meyers</strong>
							<small class="text-alt company">VP Sales @ Pell Inc.</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="register" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
		<div class="container">
			<h2>Register to World Biomimetic <strong>Challenges & Awards</strong> now!</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting <br /> industry. took a galley of type and scrambled it to make a type.</p>
			<br />
			<br />

			<a href="#" class="btn btn-lg btn-outline">Register</a>
		</div>
	</section>

	{% include awards.html %}

	{% include sponsors.html %}

	{% include symbiotic.html %}

	{% include summit17.html %}

	<section id="contacts">
		<div class="contacts-wrapper">
			<div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

			<div class="container contacts-on-map-container">
				<div class="contacts-on-map">
					<h3>Location</h3>

					<ul class="list">
						<li><i class="fa fa-map-marker"></i>Avinguda de la Reina Maria Cristina, s/n, 08004 Barcelona<br />(Fira de Barcelona)</li>
						<li><i class="fa fa-envelope"></i>info@biomimeticchallengesandawards.com</li>
						<li><i class="fa fa-phone"></i>(518) 457-5181 10001</li>
						<li><i class="fa fa-clock-o"></i>7:30 - 22:00</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	

	<div class="modal-window" data-modal="email-ticket" style="background-color: rgba(2, 2, 2, 0.85);">
		<div class="modal-box small animated" data-animation="zoomIn" data-duration="700">
			<span class="close-btn icon icon-office-52"></span>

			<h5 class="align-center"><span class="highlight">Event Registration</span></h5>

			<form class="form registration-form align-center">

				<fieldset class="col-sm-12">
					<label for="first_name">First Name</label>
					<input id="first_name" name="first_name" type="text">
				</fieldset>

				<fieldset class="col-sm-12">
					<label for="last_name">Last Name</label>
					<input id="last_name" name="last_name" type="text">
				</fieldset>

				<fieldset class="col-sm-12">
					<label for="email">Email</label>
					<input id="email" name="email" type="email">
				</fieldset>

				<fieldset class="col-sm-6">
					<label for="pass1">Ticket type</label>
					<select id="pass1" name="pass1">
						<option value="" selected disabled>-- Select --</option>
						<option value="0">Early Bird</option>
						<option value="1">Silver Pass</option>
						<option value="2">Gold Pass</option>
						<option value="3">Ultimate Mega Ultra Legendary Pass</option>
					</select>
				</fieldset>

				<fieldset class="col-sm-6">
					<label for="pass2"># tickets</label>
					<select id="pass2" name="pass2">
						<option value="a">Variant A</option>
						<option value="b">Variant B</option>
						<option value="c">Variant C</option>
						<option value="d">Variant D</option>
						<option value="e">Variant E</option>
						<option value="f" disabled>Variant F</option>
						<option value="g">Variant G</option>
						<option value="h">Variant H</option>
						<option value="i">Variant I</option>
						<option value="j">Variant J</option>
						<option value="k">Variant K</option>
						<option value="l">Variant L</option>
						<option value="m">Variant M</option>
					</select>
				</fieldset>

				<fieldset class="col-sm-12">
					<input id="privacy" name="privacy" type="checkbox"><label for="privacy">I read & agree with <a href="#">Terms of service</a> </label>
					<br />
					<br />
				</fieldset>

				<input type="submit" value="submit" class="btn">
			</form>

		</div>
	</div>

	<div class="modal-window" data-modal="0" style="background-color: rgba(2, 2, 2, 0.85);">
		<div class="modal-box iframe-box iframe-video">
			<span class="close-btn icon icon-office-52"></span>

			<iframe src="https://www.youtube.com/embed/goH-Pv1w6xo?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>