<section id="about" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-multimedia-12"></span>
			<h3>{{ site.subtitle }}</h3>
			<p class="text-alt">{{ site.tsgline }}</p>
			<br />
			<br />

			<div class="tabs-wrapper tabs-horizontal">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#horizontal_tab1" data-toggle="tab">
						<h6 class="heading-alt"><span class="fa fa-code"></span> Introduction</h6>
					</a></li>
					<li><a href="#horizontal_tab2" data-toggle="tab">
						<h6 class="heading-alt"><span class="fa fa-rocket"></span> Mission & Vision</h6>
					</a></li>
					<li><a href="#horizontal_tab3" data-toggle="tab">
						<h6 class="heading-alt"><span class="fa fa-external-link"></span> Impact</h6>
					</a></li>
				</ul>

				<div class="tab-content">
					<div id="horizontal_tab1" class="tab-pane fade active in">
						<div class="col-sm-5 img-column">
							<img src="assets/img/lotus-wbcha-371x412.jpg" alt="" class="img-responsive img-circle" />
						</div>
						<div class="col-sm-7 align-left">
							<h6>Introduction</h6>
							<p>Over 3.8 billion years, nature has undergone a constant process of trial and error with the aim of improving living organisms, processes and materials on Earth. Plants, animals and microbes are the source of inspiration for solving the actual human challenges, turning the biologic universe into a pure inspirational, creative and innovative lab.</p>
							<p>Biomimetic is the prototype model of observation, understanding, conscience and practice that allows to understand the Nature: their systems,  patterns and  processes.</p>
						</div>
					</div>

					<div id="horizontal_tab2" class="tab-pane fade">
						<div class="col-sm-7 align-right">
							<h6>Mission & Vision</h6>
							<ul>
								<li>To get to know the biomimetic  to contribute to the implementation in the society, taking into account the development of human being, communities that take part and the planet that holds up.</li>
								<li>To get closer the creative dimension of Nature into the human imagination’s limits.</li>
								<li>To spread the recognition of projects that promotes the conscience, talent and biomimetic creativity to face the global future challenges.</li>
								<li>To put on the spot the 1st World Biomimetic Experience Summit 2017.</li>
								<li>To encourage a conscience collective space from a biomimetic vision.</li>
							</ul>
							<p>Next 22th June starts the first edition of <strong><a href="/">World Biomimetics Challenges & Awards</a></strong> in collaboration with <strong>In(3D)dustry World Congress (Fira de Barcelona)</strong>. The event is well underway for the coming <strong>World Biomimetic Experience Summit 2017</strong> that will get to know a new social, economic and industrial reality by a bioinspirer Cosmo vision.</p>
						</div>

						<div class="col-sm-5 img-column">
							<img src="assets/img/lotus-wbcha-371x412.jpg" alt="" class="img-responsive img-circle" />
						</div>
					</div>

					<div id="horizontal_tab3" class="tab-pane fade">
						<div class="col-sm-5 img-column">
							<img src="assets/img/bioinspiration-to-advance-global-gpd-in-2030-wbcha.jpg" alt="" class="img-responsive" />
						</div>
						<div class="col-sm-7 align-left">
							<h6>Potencial Effects In U.S.A. And The Worldwide Economy</h6>
							<p>The influence of the biomimetic among  different huge industries is translated in a considerable impact in the Gross Domestic Product, GDP, in USA. and in the global economy in 2030.</p>
							<p>It is considered that Biomimicry will contribute in world’s GDS roughly  USD 1.6 trillions in 2030. That will be related approximately 1.1% of the world’s production.</p>
							<p>In 2030, Biomimicry can mean USD 1.6 billions from GDS of USA. The resource for the decrease of pollution could rise in USD 0.5 trillions.</p>
							<p>The biomimicry could help to  reduce the economic loss since the exhaustion of  the nation energy, forestall resources and from  CO2 and other contaminants. Getting estimations from BIRD (International Bank for Reconstruction and Development)  towards the  exhaustion of resources, Fermanian Business & Economic Institute figures that the losses could rise around  USD 637 millions in 2030 (25% from GDS in USA). The biomimetic capacity to reduce the size of these wastes roughly 10%, it could produce an additional impact in the country economy approximately USD 65 millions.</p>
							<p><a href="/improvement-presence-and-mass-media-impact/" class="btn btn-md">More info</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>