

	<section id="awards" class="section overlay overlay-clr bg-cover bg4 light-text align-center">
		<div class="container">
			<h2>Register your project to  <strong>Awards</strong> now!</h2>

			<a href="mailto:info@biomimeticchallengesandawards.com?subject=I%20want%20further%20information%20on%20WBChA%20Projects%20registration&amp;body=To%20whom%20it%20may%20concern%3A%20I%20want%20further%20information%20on%20WBChA%20Projects%20registration.%20Thanks%20a%20lot" class="btn btn-lg btn-outline">Register</a>
			<br />
			<br />
			<p>We will send you back an email with detailed instructions on how to proceed with your project.</p>
		</div>
	</section>


	<section class="section align-center">

		<div class="container">
			
			<span class="icon section-icon icon-seo-icons-10"></span>
				<h3>Awards</h3>
				<br />
				<br />

			<div class="col-sm-5 img-column">
				<img src="assets/img/lotus-wbcha-371x412.jpg" alt="" class="img-responsive img-circle" />
			</div>

			<div class="col-sm-7 align-left">
				<ul>
					<li>It will recognize projects in prototype stage,  final development or deployment in the market, that has been involved on a concept, technology, product, service or process that deals with an actual challenge. The description of the project has to show a connection between a biologic mechanism, process or pattern or system regarding to the solution given.</li>
	 
	 				<li>It will admit professional start-up teams or local companies (Catalonia, Spain) or international.</li>
	      
					<li>The Advisory Committee that is a network of professionals related to the World Biomimetic Foundation will choose the submitted projects to win. After this, the attendants to the conferences in the 1st World Biomimetic Challenge & Awards will vote to decide who will be the winning projects</li>
				</ul>
				<p class="align-center"><a href="/selection-criteria-and-presentation-criteria/" class="btn btn-md">More info</a></p>

			</div>

			<div class="col-sm-12 align-left">

				<h6>Biomimetic Projects Around the World</h6>

				<p>The biomimetic appears in our society and in the economic and productive system with some carrier solutions examples that has optimized the energetic resources, reduces the economic expenses or generated beneficial solutions for everybody. The challenge of the Awards is to strengthen an emergent base and to connect biomimetic projects with the challenge of motivating a new bio inspirer Cosmo vision for the future.</p>

				<p class="text-center"><img src="/assets/img/biomimetic-projects-around-the-world-wbcha.jpg"></p>

			</div>

			<hr/>

		</div>

		<div id="advisors" class="container">
			<span class="icon section-icon icon-faces-users-04"></span>
			<h3>Advisory committee</h3>
			<p class="text-alt">Meet our <span class="highlight">advisors</span></p>
			<br />
			<br />

			<div class="row">

			{% for advisor in site.data.advisors limit: 3 %}

				<div class="col-sm-4">
					<div class="speaker">
						<div class="photo-wrapper rounded"><a href="{{ advisor.permalink }}"><img src="assets/img/advisors/{{ advisor.image }}" alt="{{ advisor.name }}" class="img-responsive"></a></div>
						<h3 class="name">{{ advisor.name }}</h3>
						<p class="text-alt"><small><strong>{{ advisor.jobTitle }}</strong><br/>{{ advisor.worksFor.name }}</small></p>
						<p class="about">{{ advisor.description | truncate: 140 }} <br/><a href="{{ advisor.permalink }}">[+]</a></p>
					</div>
				</div>

			{% endfor %}

			</div>

			<div class="row">

			{% for advisor in site.data.advisors limit: 3 offset: 3 %}

				<div class="col-sm-4">
					<div class="speaker">
						<div class="photo-wrapper rounded"><a href="{{ advisor.permalink }}"><img src="assets/img/advisors/{{ advisor.image }}" alt="{{ advisor.name }}" class="img-responsive"></a></div>
						<h3 class="name">{{ advisor.name }}</h3>
						<p class="text-alt"><small><strong>{{ advisor.jobTitle }}</strong><br/>{{ advisor.worksFor.name }}</small></p>
						<p class="about">{{ advisor.description | truncate: 140 }} <br/><a href="{{ advisor.permalink }}">[+]</a></p>
					</div>
				</div>

			{% endfor %}

			</div>

			<div class="row">

			{% for advisor in site.data.advisors limit: 3 offset: 6 %}

				<div class="col-sm-4">
					<div class="speaker">
						<div class="photo-wrapper rounded"><a href="{{ advisor.permalink }}"><img src="assets/img/advisors/{{ advisor.image }}" alt="{{ advisor.name }}" class="img-responsive"></a></div>
						<h3 class="name">{{ advisor.name }}</h3>
						<p class="text-alt"><small><strong>{{ advisor.jobTitle }}</strong><br/>{{ advisor.worksFor.name }}</small></p>
						<p class="about">{{ advisor.description | truncate: 140 }} <br/><a href="{{ advisor.permalink }}">[+]</a></p>
					</div>
				</div>

			{% endfor %}

			</div>

			<div class="row">

			{% for advisor in site.data.advisors limit: 3 offset: 9 %}

				<div class="col-sm-4">
					<div class="speaker">
						<div class="photo-wrapper rounded"><a href="{{ advisor.permalink }}"><img src="assets/img/advisors/{{ advisor.image }}" alt="{{ advisor.name }}" class="img-responsive"></a></div>
						<h3 class="name">{{ advisor.name }}</h3>
						<p class="text-alt"><small><strong>{{ advisor.jobTitle }}</strong><br/>{{ advisor.worksFor.name }}</small></p>
						<p class="about">{{ advisor.description | truncate: 140 }} <br/><a href="{{ advisor.permalink }}">[+]</a></p>
					</div>
				</div>

			{% endfor %}

			</div>

			<div class="row">

			{% for advisor in site.data.advisors limit: 3 offset: 12 %}

				<div class="col-sm-4">
					<div class="speaker">
						<div class="photo-wrapper rounded"><a href="{{ advisor.permalink }}"><img src="assets/img/advisors/{{ advisor.image }}" alt="{{ advisor.name }}" class="img-responsive"></a></div>
						<h3 class="name">{{ advisor.name }}</h3>
						<p class="text-alt"><small><strong>{{ advisor.jobTitle }}</strong><br/>{{ advisor.worksFor.name }}</small></p>
						<p class="about">{{ advisor.description | truncate: 140 }} <br/><a href="{{ advisor.permalink }}">[+]</a></p>
					</div>
				</div>

			{% endfor %}

			</div>

			<hr />

		</div>
	</section>