<section id="contacts">
		<div class="contacts-wrapper">
			<div id="contacts-map" class="map" data-settings="map-settings.json" style="height:560px;"></div>

			<div class="container contacts-on-map-container">
				<div class="contacts-on-map">
					<h3>Location</h3>

					<ul class="list">
						<li><i class="fa fa-map-marker"></i>Palau Robert, Passeig de Gràcia, 107,08008 Barcelona</li>
						<li><i class="fa fa-envelope"></i>info@biomimeticchallengesandawards.com</li>
						<li><i class="fa fa-phone"></i>00 34 93 532 02 74</li>
						<li><i class="fa fa-clock-o"></i>9:30 - 18:30</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container section align-center">
			<span class="icon section-icon icon-documents-bookmarks-12"></span>
			<h3>Promoter</h3>
			<div class="sponsors">
				{% for promoter in site.data.promoters %}
				<div class="sponsor inline"><a href="{{promoter.permalink }}"><img src="assets/img/sponsors/{{ promoter.logo }}" alt=""></a></div>
				{% endfor %}
			</div>
			<hr/>
			<h3>Organizer</h3>
			<div class="sponsors">
				{% for organizer in site.data.organizers %}
				<div class="sponsor inline"><a href="{{organizer.permalink }}"><img src="assets/img/sponsors/{{ organizer.logo }}" alt=""></a></div>
				{% endfor %}
			</div>
			<hr/>
			<h3 id="supporters">Supported by </h3>
			<div class="sponsors">
				{% for supporter in site.data.supporters %}
				<div class="sponsor inline"><a href="{{supporter.permalink }}"><img src="assets/img/sponsors/{{ supporter.logo }}" alt=""></a></div>
				{% endfor %}
			</div><!-- 
			<hr/>
			<h3>Symbiotic Partner</h3>
			<div class="sponsors">
				{% for partner in site.data.partners %}
				<div class="sponsor inline"><a href="{{partner.permalink }}"><img src="assets/img/sponsors/{{ partner.logo }}" alt=""></a></div>
				{% endfor %}
			</div> -->
			<hr/>
			<h3 id="collaborators">Collaborators</h3>
			<div class="sponsors">
				{% for collaborator in site.data.collaborators %}
				<div class="sponsor inline"><a href="{{collaborator.permalink }}"><img src="assets/img/sponsors/{{ collaborator.logo }}" alt=""></a></div>
				{% endfor %}
			</div>

		</div>
	</section>
