<footer class="site-footer">

  <section class="footer">
    <div class="container">

      <div class="col-md-5 col-md-offset-1">
        <div class="widget about-widget">
          <img src="/assets/img/autograph-143x105.png" alt="autograph">
        </div>
      </div>

      <div class="col-md-5">
        <div class="widget about-widget">
          <h6 class="widget-head">About <span class="highlight">World Biomimetic <strong>Challenges & Conscience</strong></span></h6>
          <p class="text-alt"><small>Next 22th June starts the first edition of <strong><a href="/">World Biomimetics Challenges &amp; Conscience</a></strong>. The event is well underway for the coming <strong>World Biomimetic Experience Summit 2017</strong> that will get to know a new social, economic and industrial reality by a bioinspiring Cosmo vision.</small></p>
        </div>
      </div>

    </div>

    <div class="footer-base">
      <div class="container">

        <div class="col-md-6">
          <ul class="footer-nav">
            <li class="footer-nav-item"><a href="/#contacts">Contact</a></li>
            <li class="footer-nav-item"><a href="/privacy-policy/">Privacy policy</a></li>
            <li class="footer-nav-item"><a href="/press-release/">Press</a></li>
          </ul>
        </div>

        <div class="col-md-6 align-right">
          <ul class="socials-nav align-right">
            <li class="socials-nav-item"><a href="https://twitter.com/WBChaA"><span class="fa fa-twitter"></span></a></li>
          </ul>

          <p class="text-alt"><small>© 2016 | Made with love by <a href="http://www.oxygen.cat/" title="Made with love by Oxygen, your creative technology company based in Barcelona">Oxygen</a></small></p>
        </div>

      </div>
    </div>
  </section>

</footer>


