<footer class="site-footer">

  <section class="footer">
    <div class="container">

      <div class="col-md-5 col-md-offset-1">
        <div class="widget about-widget">
          <img src="/assets/img/autograph-143x105.png" alt="autograph">
        </div>
      </div>

      <div class="col-md-5">
        <div class="widget about-widget">
          <h6 class="widget-head">About <span class="highlight">World Biomimetic <strong>Challenges & Awards</strong></span></h6>
          <p class="text-alt"><small>Next 22th June starts the first edition of <strong><a href="/">World Biomimetics Challenges &amp; Awards</a></strong> in collaboration with <strong>In(3D)dustry World Congress (Fira de Barcelona)</strong>. The event is well underway for the coming <strong>World Biomimetic Experience Summit 2017</strong> that will get to know a new social, economic and industrial reality by a bioinspirer Cosmo vision.</small></p>
        </div>
      </div>

    </div>

    <div class="footer-base">
      <div class="container">

        <div class="col-md-6">
          <ul class="footer-nav">
            <li class="footer-nav-item"><a href="/#contacts">Contact</a></li>
            <li class="footer-nav-item"><a href="#">Privacy policy</a></li>
            <li class="footer-nav-item"><a href="#">Press</a></li>
          </ul>
        </div>

        <div class="col-md-6 align-right">
          <ul class="socials-nav align-right">
            <li class="socials-nav-item"><a href="#"><span class="fa fa-twitter"></span></a></li>
          </ul>

          <p class="text-alt"><small>All Rights Reserved © 2015</small></p>
        </div>

      </div>
    </div>
  </section>

</footer>


