<head {% if page.title =="Home" %}prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"{% endif %}{% if page.og-type =="article" %} <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#"{% endif %}>
    <meta charset="utf-8">

  <!-- Enable responsiveness on mobile devices-->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"> -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="description" content="{% if page.title == "Home" %}{{ site.title }} &middot; {{ site.subtitle }}{% else %}{{ page.title | strip_html | strip_newlines | truncate: 160 }} &middot; {{ site.title | strip_html | strip_newlines | truncate: 160 }}{% endif %}">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.subtitle }}
    {% else %}
      {{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != "" %}{{ page.category }}{% endif %} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.og %}
  <meta property="fb:app_id" content="1064356173625695"/>
  <meta property="og:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}" />
  <meta property="og:type" content="{{ page.og-type }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
      {% if page.category == 'speakers' %}
          {% assign speaker_data = site.data.speakers | where:"id", page.speaker %}
          {% assign speaker = speaker_data | first %}
          <meta property="og:image" content="{{ site.url }}/assets/img/speakers/{{ speaker.featured_src }}" />
          <meta property="og:description" content="{{ speaker.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ speaker.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/speakers/{{ speaker.featured_src }}">
      {% endif %}
      {% if page.category == 'advisors' %}
          {% assign advisor_data = site.data.advisors | where:"id", page.advisor %}
          {% assign advisor = advisor_data | first %}
          <meta property="og:image" content="{{ site.url }}/assets/img/advisors/{{ advisor.featured_src }}" />
          <meta property="og:description" content="{{ advisor.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ advisor.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/advisors/{{ speaker.featured_src }}">
      {% endif %}
      {% if page.category == 'promoters' %}
          {% assign promoter_data = site.data.promoters | where:"id", page.promoter %}
          {% assign promoter = promoter_data | first %}
          <meta property="og:image" content="{{ site.url }}/assets/img/sponsors/{{ promoter.featured_src }}" />
          <meta property="og:description" content="{{ promoter.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ promoter.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/sponsors/{{ speaker.featured_src }}">
      {% endif %}
      {% if page.category == 'organizers' %}
          {% assign organizer_data = site.data.organizers | where:"id", page.organizer %}
          {% assign organizer = organizer_data | first %}
          <meta property="og:image" content="{{ site.url }}/assets/img/sponsors/{{ organizer.featured_src }}" />
          <meta property="og:description" content="{{ organizer.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ organizer.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/sponsors/{{ speaker.featured_src }}">
      {% endif %}
      {% if page.category == 'collaborators' %}
          {% assign collaborator_data = site.data.collaborators | where:"id", page.collaborator %}
          {% assign collaborator = collaborator_data | first %}
          <meta property="og:image" content="{{ site.url }}/assets/img/sponsors/{{ collaborator.featured_src }}" />
          <meta property="og:description" content="{{ collaborator.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ collaborator.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/sponsors/{{ speaker.featured_src }}">
      {% endif %}
      {% if page.category == 'partners' %}
          {% assign partner_data = site.data.partners | where:"id", page.partner %}
          {% assign partner = partner_data | first %}
          <meta property="og:image" content="{{ site.url }}/assets/img/sponsors/{{ partner.featured_src }}" />
          <meta property="og:description" content="{{ partner.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ partner.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/sponsors/{{ speaker.featured_src }}">
      {% endif %}
      {% if page.category == 'place' %}
          {% assign place_data = site.data.places | where:"id", page.place %}
          {% assign place = place_data | first %}
          <meta property="og:image" content="{{ site.url }}/public/img/{{ place.img }}" />
          <meta property="og:description" content="{{ place.description | strip_html | strip_newlines | truncate: 160 }}" />
          <meta property="place:location:latitude" content="{{ place.latitude }}" />
          <meta property="place:location:longitude" content="{{ place.longitude }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ place.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/public/img/{{ place.img }}">
      {% endif %}
      {% if page.category == 'conferences' %}
          {% assign conference_data = site.data.conferences | where:"id", page.conference %}
          {% assign conference = conference_data | first %}
          <meta property="og:image" content="{{ site.url }}/assets/img/speakers/{{ conference.featured_src }}" />
          <meta property="og:description" content="{{ conference.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ conference.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/speakers/{{ conference.featured_src }}">
      {% endif %}
      {% if page.category == 'newsarticles' %}
          {% assign newsarticle_data = site.data.newsarticles | where:"id", page.newsarticle %}
          {% assign newsarticle = newsarticle_data | first %}
          <meta property="og:image" content="{{ site.url }}{{ newsarticle.image.url }}" />
          <meta property="og:description" content="{{ newsarticle.description | strip_html | strip_newlines | truncate: 160 }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ newsarticle.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image:src" content="{{ site.url }}{{ newsarticle.image.url }}">
      {% endif %}
      {% if page.category == 'videos' %}
          {% assign video_data = site.data.videos | where:"id", page.video %}
          {% assign video = video_data | first %}
          <meta property="og:image" content="{{ site.url }}/public/video/{{ video.poster }}" />
          <meta property="og:description" content="{{ video.description | strip_html | strip_newlines | truncate: 160 }}" />
          <meta property="og:video:url" content="{{ site.url }}/public/video/{{ video.source-mp4 }}">
          <meta property="og:video:secure_url" content="{{ site.url }}/public/video/{{ video.source-mp4 }}">
          <meta property="og:video:type" content="{{ video.codec-mp4 }}">
          <meta property="og:video:width" content="{{ video.width }}">
          <meta property="og:video:height" content="{{ video.height }}">
          <meta property="og:video:url" content="{{ site.url }}/public/video/{{ video.source-webm }}">
          <meta property="og:video:secure_url" content="{{ site.url }}/public/video/{{ video.source-webm }}">
          <meta property="og:video:type" content="{{ video.codec-webm }}">
          <meta property="og:video:width" content="{{ video.width }}">
          <meta property="og:video:height" content="{{ video.height }}">

          <meta name="twitter:card" content="player">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ video.description | strip_html | strip_newlines | truncate: 160 }}">
          <meta name="twitter:image" content="{{ site.url }}/public/video/{{ video.poster }}">
          <meta name="twitter:player" content="{{ site.url }}{{ video.video-container }}">
          <meta name="twitter:player:width" content="{{ video.width }}">
          <meta name="twitter:player:height" content="{{ video.height }}">
          <meta name="twitter:player:stream" content="{{ site.url }}/public/video/ {{ video.source-mp4 }}">
          <meta name="twitter:player:stream:content_type" content="{{ video.codec-mp4 }}">

      {% endif %}
      {% if page.class == '' %}
          <meta property="og:image" content="{{ site.url }}/assets/img/bg-adv-general-wbcha.jpg" />
          <meta property="og:description" content="{{ site.title }}. {{ site.subtitle }}. {{ site.tsgline }}" />

          <meta name="twitter:card" content="summary_large_image">
          <meta name="twitter:site" content="@{{ site.twitter }}">
          <meta name="twitter:creator" content="@{% if page.twitter-username %}{{ page.twitter-username }}{% else %}{{ site.twitter }}{% endif %}">
          <meta name="twitter:title" content="{{ page.title | strip_html | strip_newlines | truncate: 160 }} &ndash; {% if page.category != '' %}{{ page.category }}{% endif %} &middot; {{ site.title }}">
          <meta name="twitter:description" content="{{ site.title }}. {{ site.subtitle }}. {{ site.tsgline }}">
          <meta name="twitter:image:src" content="{{ site.url }}/assets/img/bg-adv-general-wbcha.jpg">
      {% endif %}
  {% endif %}

  <!-- Icons -->

  <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="/assets/img/touch/chrome-touch-icon-192x192.png">

    <meta name="theme-color" content="#00B1EB">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="WBCh&A">
    <link rel="apple-touch-icon-precomposed" href="/assets/img/touch/apple-touch-icon-precomposed.png">

    <meta name="msapplication-TileImage" content="/assets/img/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#ffffff">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  <link rel="manifest" href="{{ site.url }}/manifest.json">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  {% include js-css.html %}
        
</head>
