<header class="header header-black">
    <div class="header-wrapper">
      <div class="container">
        <div class="col-sm-2 col-xs-12 navigation-header">
          <a href="#" class="logo">
            <img src="assets/img/wbcha_logo.png" alt="Logo WBChA" width="64" height="64" class="retina-hide">
            <img src="assets/img/wbcha_logo@2x.png" alt="Logo WBChA" width="64" height="64" class="retina-show">
          </a>
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-controls="navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="col-sm-10 col-xs-12 navigation-container">
          <div id="navigation" class="navbar-collapse collapse">
            <ul class="navigation-list pull-left light-text">
              <li class="navigation-item"><a href="#speakers" class="navigation-link">Speakers</a></li>
              <li class="navigation-item"><a href="#schedule" class="navigation-link">Schedule</a></li>
              <li class="navigation-item"><a href="#prices" class="navigation-link">Inscriptions</a></li>
              <li class="navigation-item"><a href="#awards" class="navigation-link">Projects</a></li>
              <li class="navigation-item"><a href="#symbiotic" class="navigation-link">Partner</a></li>
              <li class="navigation-item"><a href="#sponsors" class="navigation-link">Sponsors</a></li>
              <li class="navigation-item"><a href="#summit17" class="navigation-link">Summit '17</a></li>
            </ul>

            <a href="mailto:info@biomimeticchallengesandawards.com?subject=I%20want%20further%20information%20on%20WBChA%20Projects%20registration&amp;body=To%20whom%20it%20may%20concern%3A%20I%20want%20further%20information%20on%20WBChA%20Projects%20registration.%20Thanks%20a%20lot" class="pull-right buy-btn">Register</a>
          </div>
        </div>
      </div>
    </div>
  </header>