	<section id="hero" class="hero-section bg1 bg-cover window-height light-text">
		<ul class="socials-nav">
			<li class="socials-nav-item"><a href="https://twitter.com/WBChaA"><span class="fa fa-twitter"></span></a></li>
		</ul>
		<div class="heading-block centered-block align-center">
			<div class="container">
				<h5 class="heading-alt" style="margin-bottom: 8px;"><span class="fa fa-calendar-o base-clr-txt"></span>{{ site.date }}<span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>{{ site.location }}</h5>
				<h1 class="extra-heading"><img src="assets/img/logo-wolrd-biomimetic-challenges-and-awards-home.png"></h1>
				<h6 class="thin base-font"><strong>{{ site.subtitle }}</strong><br/>{{ site.tsgline }}</h6>
				<a href="#" class="btn btn-outline btn-md hidden-xs hidden-sm" data-modal-link="0">VIDEO</a>
				<hr/>
				<div class="sponsors visible-md visible-lg">
					<div class="row">
						<div class="col-md-2 col-md-offset-3">
							<h6>Promoter</h6>
						</div>
						<div class="col-md-2 col-md-offset-2">
							<h6>Organizer</h6>
						</div>
					</div>
					<div class="row">
						{% for promoter in site.data.promoters %}
						<div class="col-md-2 col-md-offset-3">
							<div class="sponsor inline"><a href="{{promoter.permalink }}"><img src="assets/img/sponsors/{{ promoter.logo-home }}" alt=""></a></div>
						</div>
						{% endfor %}
						{% for organizer in site.data.organizers limit: 1 %}
						<div class="col-md-2 col-md-offset-2">
							<div class="sponsor inline"><a href="{{organizer.permalink }}"><img src="assets/img/sponsors/{{ organizer.logo-home }}" alt=""></a></div>
						</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-3">
							<h6>Support</h6>
						</div>
						<div class="col-md-2 col-md-offset-2">
							<h6>Symbiotic Partner</h6>
						</div>
					</div>
					<div class="row">
						{% for supporter in site.data.supporters %}
						<div class="col-md-2 col-md-offset-3">
							<div class="sponsor inline"><a href="{{supporter.permalink }}"><img src="assets/img/sponsors/{{ supporter.logo-home }}" alt=""></a></div>
						</div>
						{% endfor %}
						{% for partner in site.data.partners limit: 1 %}
						<div class="col-md-2 col-md-offset-2">
							<div class="sponsor inline"><a href="{{partner.permalink }}"><img src="assets/img/sponsors/{{ partner.logo-home }}" alt=""></a></div>
						</div>
						{% endfor %}
					</div>
					<div class="row">
						<div class="col-md-2 col-md-offset-3">
							<h6>Sponsorship</h6>
						</div>
						<div class="col-md-2 col-md-offset-2">
							<h6>Partner Media</h6>
						</div>
					</div>
					<div class="row">
						{% for partner in site.data.partners limit: 1 offset: 1 %}
						<div class="col-md-2 col-md-offset-3">
							<div class="sponsor inline"><a href="{{partner.permalink }}"><img src="assets/img/sponsors/{{ partner.logo-home }}" alt=""></a></div>
						</div>
						{% endfor %}
						{% for partner in site.data.partners limit: 1 offset: 2 %}
						<div class="col-md-2 col-md-offset-2">
							<div class="sponsor inline"><a href="{{partner.permalink }}"><img src="assets/img/sponsors/{{ partner.logo-home }}" alt=""></a></div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="sponsors visible-xs visible-sm">
					<h6>Promoter</h6>
					{% for promoter in site.data.promoters %}
					<div class="sponsor inline"><a href="{{promoter.permalink }}"><img src="assets/img/sponsors/{{ promoter.logo-home }}" alt=""></a></div>
					{% endfor %}
					<h6>Organizers</h6>
					{% for organizer in site.data.organizers %}
					<div class="sponsor inline"><a href="{{organizer.permalink }}"><img src="assets/img/sponsors/{{ organizer.logo-home }}" alt=""></a></div>
					{% endfor %}
					<h6>Support</h6>
					{% for supporter in site.data.supporters %}
					<div class="sponsor inline"><a href="{{supporter.permalink }}"><img src="assets/img/sponsors/{{ supporter.logo-home }}" alt=""></a></div>
					{% endfor %}
					<h6>Symbiotic Partner</h6>
					{% for partner in site.data.partners limit: 1 %}
					<div class="sponsor inline"><a href="{{partner.permalink }}"><img src="assets/img/sponsors/{{ partner.logo-home }}" alt=""></a></div>
					{% endfor %}
					<h6>Sponsorship</h6>
					{% for partner in site.data.partners limit: 1 offset: 1 %}
					<div class="sponsor inline"><a href="{{partner.permalink }}"><img src="assets/img/sponsors/{{ partner.logo-home }}" alt=""></a></div>
					{% endfor %}
					<h6>Partner Media</h6>
					{% for partner in site.data.partners limit: 1 offset: 2 %}
					<div class="sponsor inline"><a href="{{partner.permalink }}"><img src="assets/img/sponsors/{{ partner.logo-home }}" alt=""></a></div>
					{% endfor %}
				</div>
				<hr/>
				<div class="btns-container">
					<a href="#inscriptions" class="btn btn-md">SIGN UP TO THE EVENT!</a>
				</div>
			</div>
		</div>
	</section>