

	<section id="inscriptions" class="section align-center">
		<div class="container">
			<span class="icon section-icon icon-shopping-04"></span>
			<h3>Inscriptions</h3>
			<p class="text-alt">Get yours why they are still <span class="highlight">available</span></p>
			<br/>
			<br/>

			<div class="row">

				<div class="col-sm-6">
					<div class="package-column special-column">
						<span class="sale-label uppercase">Hot!</span>
						<h6 class="package-title">Dinner</h6>
						<div class="package-price">
							<span class="currency">€</span>150
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>Nandu Jubany Gala Dinner Inspired by Nature<sup><a href="#fn1" id="r1">[1]</a></sup></li>
							</ul>
						</div>

						<!-- <a href="mailto:info@biomimeticchallengesandawards.com?subject=I%20want%20further%20information%20on%20WBChA%20inscriptions&amp;body=To%20whom%20it%20may%20concern%3A%20I%20want%20further%20information%20on%20WBChA%20inscriptions.%20Thanks%20a%20lot" class="btn btn-lg">Buy now</a> -->
						<a href="https://www.eventbrite.es/e/entradas-1st-world-biomimetic-challenges-and-awards-23980115170" target="_blank" class="btn btn-lg">Buy now</a>

						<br />
						<br />

						<p><small>You will be redirected to our partner<strong>EventBrite</strong> in order to get your ticket</small></p>
					</div>
					<section>
					 <p id="fn1"><a href="#r1">[1]</a> If you are interested in attending the conferences, let us know and we will give you free pass.</p>
					</section>
				</div>
				
				<div class="col-sm-6">
					<div class="package-column">
						<h6 class="package-title">Conferences</h6>
						<div class="package-price">
							Free!
						</div>
						<div class="package-detail">
							<ul>
								<li><span class="fa fa-check check-icon"></span>Regular Seating</li>
							</ul>
						</div>
						
						<!-- <a href="mailto:info@biomimeticchallengesandawards.com?subject=I%20want%20further%20information%20on%20WBChA%20inscriptions&amp;body=To%20whom%20it%20may%20concern%3A%20I%20want%20further%20information%20on%20WBChA%20inscriptions.%20Thanks%20a%20lot" class="btn btn-lg btn-outline-clr">Buy now</a> -->
						<a href="https://www.eventbrite.es/e/entradas-1st-world-biomimetic-challenges-and-awards-23980115170" target="_blank" class="btn btn-lg btn-outline-clr">Get now</a>

						<br />
						<br />

						<p><small>You will be redirected to our partner <strong>EventBrite</strong> in order to get your ticket</small></p>

					</div>
				</div>
			</div>
		</div>
	</section>