    <link rel="stylesheet" href="/css/main.css">
    <script type="application/ld+json">
    {{ site.data.social-profile | jsonify }}
    </script>

    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
    <script>
      var OneSignal = OneSignal || [];
      OneSignal.push(["init", {
        appId: "b4cd4945-d4d3-4b35-85c6-b415291ff5c7",
        autoRegister: true,
        notifyButton: {
          enable: false
        },
        safari_web_id: "web.onesignal.auto.3d5e9a66-9429-4fce-a7e3-61aa58d6c253"
      }]);
    </script>



{% if page.class == 'speakers' %}
  {% assign speaker_data = site.data.speakers | where:"id", page.speaker %}
  {% assign speaker = speaker_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ speaker.context }}",
    "@type": "{{ speaker.type }}",
    "worksFor": {
      "@type": "{{ speaker.worksFor.type }}",
      "name": "{{ speaker.worksFor.name }}",
      "url": "{{ speaker.worksFor.url }}"
    },
    "email": "{{ speaker.email }}",
    "image": "{{ speaker.image }}",
    "jobTitle": "{{ speaker.jobTitle }}",
    "name": "{{ speaker.name }}",
    "sameAs": [
    {% for sameAs in speaker.sameAs %}
    {% if forloop.last != true %}
    "{{ speaker.sameAs[forloop.index0] }}",
    {% endif %}
    {% if forloop.last == true %}
    "{{ speaker.sameAs[forloop.index0] }}"
    {% endif %}
    {% endfor %}
    ],
    "description": "{{ speaker.description }}"  
  }
  </script>
{% endif %}

{% if page.class == 'advisors' %}
  {% assign advisor_data = site.data.advisors | where:"id", page.advisor %}
  {% assign advisor = advisor_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ advisor.context }}",
    "@type": "{{ advisor.type }}",
    "worksFor": {
      "@type": "{{ advisor.worksFor.type }}",
      "name": "{{ advisor.worksFor.name }}",
      "url": "{{ advisor.worksFor.url }}"
    },
    "email": "{{ advisor.email }}",
    "image": "{{ advisor.image }}",
    "jobTitle": "{{ advisor.jobTitle }}",
    "name": "{{ advisor.name }}",    
    "sameAs": [
    {% for sameAs in advisor.sameAs %}
    {% if forloop.last != true %}
    "{{ advisor.sameAs[forloop.index0] }}",
    {% endif %}
    {% if forloop.last == true %}
    "{{ advisor.sameAs.[forloop.index0] }}"
    {% endif %}
    {% endfor %}
    ],
    "description": "{{ advisor.description }}"  
  }
  </script>
{% endif %}

{% if page.class == 'promoters' %}
  {% assign promoter_data = site.data.promoters | where:"id", page.promoter %}
  {% assign promoter = promoter_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ promoter.context }}",
    "@type": "{{ promoter.type }}",
    "email": "{{ promoter.email }}",
    "url": "{{ promoter.url }}",
    "logo": "{{ site.url }}/img/assets/sponsors/{{ promoter.logo }}",
    "name": "{{ promoter.name }}",
    "description": "{{ promoter.description }}",
    "member": {
      "@type": "{{ promoter.member.type }}",
      "member": {
        "@type": "{{ promoter.member.member.type }}",
        "name": "{{ promoter.member.member.name }}",
        "email": "{{ promoter.member.member.email }}"
      },
      "roleName": "{{ promoter.member.roleName }}"
    }  
  }
  </script>
{% endif %}

{% if page.class == 'organizers' %}
  {% assign organizer_data = site.data.organizers | where:"id", page.organizer %}
  {% assign organizer = organizer_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ organizer.context }}",
    "@type": "{{ organizer.type }}",
    "email": "{{ organizer.email }}",
    "url": "{{ organizer.url }}",    
    "sameAs": [
    {% for sameAs in organizer.sameAs %}
    {% if forloop.last != true %}
    "{{ organizer.sameAs[forloop.index0] }}",
    {% endif %}
    {% if forloop.last == true %}
    "{{ organizer.sameAs.[forloop.index0] }}"
    {% endif %}
    {% endfor %}
    ],
    "logo": "{{ site.url }}/img/assets/sponsors/{{ organizer.logo }}",
    "name": "{{ organizer.name }}",
    "description": "{{ organizer.description }}",
    "member": {
      "@type": "{{ organizer.member.type }}",
      "member": {
        "@type": "{{ organizer.member.member.type }}",
        "name": "{{ organizer.member.member.name }}",
        "email": "{{ organizer.member.member.email }}"
      },
      "roleName": "{{ organizer.member.roleName }}"
    }  
  }
  </script>
{% endif %}

{% if page.class == 'collaborators' %}
  {% assign collaborator_data = site.data.collaborators | where:"id", page.collaborator %}
  {% assign collaborator = collaborator_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ collaborator.context }}",
    "@type": "{{ collaborator.type }}",
    "email": "{{ collaborator.email }}",
    "url": "{{ collaborator.url }}",
    "sameAs": [
    {% for sameAs in collaborator.sameAs %}
    {% if forloop.last != true %}
    "{{ collaborator.sameAs[forloop.index0] }}",
    {% endif %}
    {% if forloop.last == true %}
    "{{ collaborator.sameAs[forloop.index0] }}"
    {% endif %}
    {% endfor %}
    ],
    "logo": "{{ site.url }}/img/assets/sponsors/{{ collaborator.logo }}",
    "name": "{{ collaborator.name }}",
    "description": "{{ collaborator.description }}"
  }
  </script>
{% endif %}

{% if page.class == 'partners' %}
  {% assign partner_data = site.data.partners | where:"id", page.partner %}
  {% assign partner = partner_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ partner.context }}",
    "@type": "{{ partner.type }}",
    "email": "{{ partner.email }}",
    "url": "{{ partner.url }}",
    "sameAs": [
    {% for sameAs in partner.sameAs %}
    {% if forloop.last != true %}
    "{{ partner.sameAs[forloop.index0] }}",
    {% endif %}
    {% if forloop.last == true %}
    "{{ partner.sameAs[forloop.index0] }}"
    {% endif %}
    {% endfor %}
    ],
    "logo": "{{ site.url }}/img/assets/sponsors/{{ partner.logo }}",
    "name": "{{ partner.name }}",
    "description": "{{ partner.description }}"
  }
  </script>
{% endif %}


{% if page.class == 'videos' %}
  {% assign video_data = site.data.videos | where:"id", page.video %}
  {% assign video = video_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ video.context }}",
    "@type": "{{ video.type }}",
    "name": "{{ video.title }}",
    "description": "{{ video.description }}",
    "embedUrl": "{{ site.url }}/{{ video.video-container }}",
    "contentUrl": "{{ site.url }}/public/video/{{ video.source-webm }}",
    "thumbnailUrl": "{{ site.url }}/public/video/{{ video.poster }}",
    "@id": "{{ site.url }}{{ page.url }}",
    "datePublished": "{{ video.dataPublished }}",
    "uploadDate": "{{ video.dataPublished }}",
    "author": {
      "@type": "Organization",
      "name": "Artinpocket"
    }
  }  
  </script>
{% endif %}

{% if page.class == 'conferences' %}
  {% assign conference_data = site.data.conferences | where:"id", page.conference %}
  {% assign conference = conference_data | first %}
  <script type="application/ld+json">
  {
    "@context": "{{ conference.context }}",
    "@type": "{{ conference.type }}",
    "location": {
      "@type": "{{ conference.location.type }}",
      "name": "{{ conference.location.name }}",
      "address": "{{ conference.location.address }}"
    },
    "name": "{{ conference.name }}",
    "offers": {
      "@type": "{{ conference.offers.type }}",
      "url": "{{ conference.offers.url }}",
      "price": "{{ conference.offers.price }}",
      "priceCurrency": "{{ conference.offers.priceCurrency }}",
      "availability": "{{ conference.offers.availability }}"
    },
    "performer": {
      "@type": "{{ conference.performer.type }}",
      "jobTitle": "{{ conference.performer.jobTitle }}",
      "name": "{{ conference.performer.name }}",
      "sameAs": "{{ conference.performer.sameAs }}"
     },
    "startDate": "{{ conference.startDate }}",
    "endDate": "{{ conference.endDate }}",
    "description": "{{ conference.description }}"
  }
  </script>
{% endif %}

{% if page.class == 'newsarticle' %}
  {% assign newsarticle_data = site.data.newsarticles | where:"id", page.newsarticle %}
  {% assign newsarticle = newsarticle_data | first %}
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "{{ newsarticle.type }}",
    "mainEntityOfPage":{
      "@type":"{{ newsarticle.mainEntityOfPage.type }}",
      "@id":"{{ newsarticle.mainEntityOfPage.id }}"
    },
    "headline": "{{ newsarticle.headline }}",
    "image": {
      "@type": "{{ newsarticle.image.type }}",
      "url": "{{ newsarticle.image.url }}",
      "height": {{ newsarticle.image.height }},
      "width": {{ newsarticle.image.width }}
    },
    "datePublished": "{{ newsarticle.datePublished }}"
    "author": {
      "@type": "{{ newsarticle.author.type }}",
      "name": "{{ newsarticle.author.name }}"
    },
     "publisher": {
      "@type": "{{ newsarticle.publisher.type }}",
      "name": "{{ newsarticle.publisher.name }}",
      "logo": {
        "@type": "{{ newsarticle.publisher.logo.type }}",
        "url": "{{ newsarticle.publisher.logo.url }}",
        "width": {{ newsarticle.publisher.logo.width }},
        "height": {{ newsarticle.publisher.logo.width }}
      }
    },
    "description": "{{ newsarticle.description }}"
  }
  </script>
{% endif %}