<section id="schedule" class="section schedule-section align-center">
		<div class="container">
			<span class="icon section-icon icon-office-21"></span>
			<h3>Programme</h3>
			<h6>Conferences: 'Biomimetics, a new cosmovision'</h6>
			<p class="text-alt">June, 22th 2016<br/> and <span class="highlight">Fira Barcelona Gran Via</span></p>
			<br />
			<br />

			<!-- Schedule start -->
			<div class="schedule">

				<!-- Navigation by day start -->
				<ul class="nav nav-schedule">
					<li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">22/06/2016</h5></a></li>
				</ul>
				<!-- Navigation by day end -->

				<!-- First level content start -->
				<div class="tab-content">

					<!-- Day 1 content start -->
					<div id="day1" class="tab-pane fade active in">

						<!-- Navigation by auditorium start -->
						<ul class="nav nav-schedule">
							<li class="active"><a href="#day1_auditorium1" data-toggle="tab">Auditorium</a></li>
						</ul>
						<!-- Navigation by auditorium start -->

						<!-- Second level content start -->
						<div class="tab-content tab-content-schedule">

							<!-- Auditorium 1 content start -->
							<div id="day1_auditorium1" class="tab-pane fade active in">

								<!-- Accordion start -->
								<div class="panel-group" id="day1_auditorium1_timeline">

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-calendar"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>16:30</strong>
											<h6 class="title">Reception<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-calendar"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>17:00</strong>
											<h6 class="title">Welcome by Speech<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

									{% for conference in site.data.conferences %}
									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<img src="assets/img/speakers/{{ conference.performer.image }}" alt="" class="img-responsive">
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_{{ conference.id }}" class="schedule-item-toggle collapsed">
											<strong class="time highlight"><span class="icon icon-office-24"></span>{{ conference.startDate | date: "%-H:%M"  }}</strong>
											<h6 class="title">{{ conference.name }}<i class="icon icon-arrows-06"></i></h6>
										</a>
										<div id="day1_auditorium1_{{ conference.id }}" class="panel-collapse collapse schedule-item-body">
											<article>
												<strong class="highlight speaker-name">{{ conference.performer.name }}</strong>
											</article>
										</div>
									</div>
									<!-- Lecture end -->
									{% endfor %}

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-calendar"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>19:15</strong>
											<h6 class="title">Questions and answers<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-calendar"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>19:30</strong>
											<h6 class="title">Recognition anb voting the Final Projects<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-calendar"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time5" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>20:00</strong>
											<h6 class="title">Clousure<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-cutlery"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time6" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>20:15</strong>
											<h6 class="title">Gala Dinner Inspired by Nature<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-trophy"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time6" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>21:45</strong>
											<h6 class="title">Present the Awards<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

								</div>
								<!-- Accordion end -->

							</div>
							<!-- Auditorium 1 content end -->

						</div>
						<!-- Second level content end -->

					</div>
					<!-- Day 1 content end -->

				</div>
				<!-- First level content end -->

			</div>
			<!-- Schedule end -->

	</section>