<section id="schedule" class="section schedule-section align-center">
		<div class="container">
			<span class="icon section-icon icon-office-21"></span>
			<h3>Programme</h3>
			<h6>Conferences: 'Biomimetics, a new cosmovision'</h6>
			<p class="text-alt">June, 22th 2016<br/> and <span class="highlight">Fira Barcelona Gran Via</span></p>
			<br />
			<br />

			<!-- Schedule start -->
			<div class="schedule">

				<!-- Navigation by day start -->
				<ul class="nav nav-schedule">
					<li class="active"><a href="#day1" data-toggle="tab"><h5 class="highlight">22/06/2016</h5></a></li>
				</ul>
				<!-- Navigation by day end -->

				<!-- First level content start -->
				<div class="tab-content">

					<!-- Day 1 content start -->
					<div id="day1" class="tab-pane fade active in">

						<!-- Navigation by auditorium start -->
						<ul class="nav nav-schedule">
							<li class="active"><a href="#day1_auditorium1" data-toggle="tab">Auditorium</a></li>
						</ul>
						<!-- Navigation by auditorium start -->

						<!-- Second level content start -->
						<div class="tab-content tab-content-schedule">

							<!-- Auditorium 1 content start -->
							<div id="day1_auditorium1" class="tab-pane fade active in">

								<!-- Accordion start -->
								<div class="panel-group" id="day1_auditorium1_timeline">

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-cutlery"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time1" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>4:30 PM</strong>
											<h6 class="title">Reception<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<span class="fa fa-cutlery"></span>
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time2" class="schedule-item-toggle">
											<strong class="time highlight"><span class="icon icon-office-24"></span>5:00 PM</strong>
											<h6 class="title">Welcome by Speech<i class="icon icon-arrows-06"></i></h6>
										</a>
									</div>
									<!-- Lecture end -->

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<img src="assets/img/speakers/elisabeth-sahtouris-wbcha.jpg" alt="" class="img-responsive">
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time3" class="schedule-item-toggle collapsed">
											<strong class="time highlight"><span class="icon icon-office-24"></span>5:15 PM</strong>
											<h6 class="title">Biomimetic: A cosmovision Bioinspired<i class="icon icon-arrows-06"></i></h6>
										</a>
										<div id="day1_auditorium1_time3" class="panel-collapse collapse schedule-item-body">
											<article>
												<strong class="highlight speaker-name">Elisabeth Sahtouris</strong>
											</article>
										</div>
									</div>
									<!-- Lecture end -->

									<!-- Lecture start -->
									<div class="panel schedule-item">
										<div class="lecture-icon-wrapper">
											<img src="assets/img/speakers/speaker1.jpg" alt="" class="img-responsive">
										</div>
										<a data-toggle="collapse" data-parent="#day1_auditorium1_timeline" href="#day1_auditorium1_time4" class="schedule-item-toggle collapsed">
											<strong class="time highlight"><span class="icon icon-office-24"></span>7:40 PM</strong>
											<h6 class="title">Passion and people<i class="icon icon-arrows-06"></i></h6>
										</a>
										<div id="day1_auditorium1_time4" class="panel-collapse collapse schedule-item-body">
											<article>
												<p class="description">Lorem vel lorem. Nulla ab justo. Scelerisque penatibus eget. Nunc ultrices nec sed lobortis et. Vitae massa massa pede magna sociosqu viverra tempus justo. Et quis ornare nisl mi ligula suscipit ullamcorper massa ante diam.</p>
												<strong class="highlight speaker-name">Michael Lambert</strong>
											</article>
										</div>
									</div>
									<!-- Lecture end -->

								</div>
								<!-- Accordion end -->

							</div>
							<!-- Auditorium 1 content end -->

						</div>
						<!-- Second level content end -->

					</div>
					<!-- Day 1 content end -->

				</div>
				<!-- First level content end -->

			</div>
			<!-- Schedule end -->

	</section>