	<section id="sponsors" class="section align-center">
		<div class="container">

				<h3>Sponsorship Ecosystem</h3>
				<p><a href="/assets/img/sponsors/sponshorship-brochure-wbcha.pdf" class="btn btn-md" download="Brochure Sponsorship">Brochure download <span class="fa fa-download fa-inverse fa-2x"></span></a></p>
				<br />
				<br />
				<h6>Why is intereting to be a sponsor?</h6>

			<div class="col-sm-12">
				<div class="sponsors">
					<div class="sponsor inline"><img src="assets/img/biosphere-plus-sponsorship-wbcha.jpg" alt=""></div>
					<div class="sponsor inline"><img src="assets/img/biosphere-sponsorship-wbcha.jpg" alt=""></div>
					<div class="sponsor inline"><img src="assets/img/bioma-sponsorship-wbcha.jpg" alt=""></div>
					<div class="sponsor inline"><img src="assets/img/forest-sponsorship-wbcha.jpg" alt=""></div>
				</div>
			</div>

			<div class="col-sm-12 align-left">
			 	<ul>
				 	<li>Because your company, at the present referent in the corporative values of sustainability, will be related to the biomimetic as a new model emergent  around the world, for the improvement of human development towards the survival of Earth.</li>

					<li>Because Biomimetic as a model of conscience and practice is sided with solutions to the paradigm of transformation (of conscience and practice) that lives in the global society.</li>

					<li>Because you will have access to projects from a biomimetic vision that can be inspiration of improvement in the actual lines of Research, Development, Innovation  of your company.</li>

					<li>To get relevance in the Ethics Codes of your company referent to the future biomimetic model of social and economic which is increasing.</li>

	 				<li>Because your company will be situated as a referral company with conscience values for the perseverance of the planet, responsible innovation with the environment, and for a humanized productive economy.</li>

	 				<li>Because your support in the  1st World Challenges of Biomimetic & Awards,  will be recognized with a priority participation at the 1st World Biomimetics Experience Summit. </li>

	 			</ul>


			</div>
			<hr/>
		</div>
	</section>