


	

	<section id="summit17" class="section overlay overlay-clr bg-cover bg11 light-text align-center">
		<div class="container">
			<h2>Save the Day! October 2017</h2>
			<h3>Register to  <strong>Summit 17'</strong> now!</h3>
			<p>Send us an email and we will keep you posted on the <strong>1st World Biomimetics Experience Barcelona Summit 2017</strong></p>
			<br />
			<br />

			<a href="mailto:info@worldbiomimetic.org?subject=I%20want%20further%20information%20on%20Summit17%20registration&amp;body=To%20whom%20it%20may%20concern%3A%20I%20want%20further%20information%20on%20Summit17%20registration.%20Thanks%20a%20lot" class="btn btn-lg btn-outline">Register</a>
		</div>
	</section>

	<section class="section align-center">

		<div class="container">
			
			<span class="icon section-icon icon-ecology-15"></span>
				<h3>1st World Biomimetic Experience Summit 2017</h3>
				<br />
				<br />

			<div class="col-sm-7 align-left">
				<p><strong>1st World Biomimetic Challenges & Conscience</strong> will make public <strong>1st  World Biomimetics Experience Barcelona Summit 2017</strong>. An ecosystem of experiences, for the attendants and participants, of co-creation, connectivity, innovation, creativity, investigation, thinking, appliance on conscience base and biomimetic practice.</p>

				<p>Research centers, Universities, Companies and Speakers, will project an ecosystem of  Conferences, Workshops and Exhibition Area, to globally show a transforming reality of new concepts, corporate dynamics, social behaviors, product design,… An international vision of biomimicry as a conscience and practice in the development and evolution of present and future.</p>

				<h6>Vision and Mission</h6>

				<ul>
					<li>To encourage a co-creation symbiotic space.</li> 
					<li>To promote the multiple and collective intelligence.</li> 
					<li>To bring conscience towards the preservation values of the planet.</li> 
					<li>To contribute the human development that guarantees a clear social contribution.</li>
					<li>To approach the natural creativity dimension to the human being imagination edges.</li> 
					<li>To promote the biomimicry, biology and environment vision as a growing model for a progressive generation of Ecosystems that regulates the positive ambition.</li>
				</ul>


			</div>

			<div class="col-sm-5 img-column">
				<img src="assets/img/1-st-wbebs-2017-wbcha.jpg" alt="" class="img-responsive img-circle" />
			</div>

		</div>
	</section>