


	<section id="symbiotic" class="section align-center">

		<div class="container">
			
			<span class="icon section-icon icon-badges-votes-16"></span>
				<h3>Symbiotic Partner</h3>
				<br />
				<br />

			<div class="col-sm-5 img-column">
				<img src="assets/img/sponsors/logo-in-3d-ustry-wbcha.jpg" alt="" class="img-responsive img-circle" />
			</div>

			<div class="col-sm-7 align-left">
				<p><strong>1st World Biomimetic Challenges & Conscience</strong> started with the complicity of <strong>Fira de Barcelona</strong> and <strong>IN(3D) USTRY from Needs to Solutions</strong> as a Symbiotic Partner.</p>

				<p><strong><a href="/partners/2016/03/11/in-3d-ustry/">IN(3D)USTRY</a></strong> rises in its first Edition with different objectives: to <strong>discover</strong> the new manufacturing paradigm. To <strong>see</strong> disruptive ways to optimize your workflow. To <strong>meet</strong> top level decision makers and to touch the reality of Additive & Advanced Manufacturing. To <strong>learn</strong> the best practices in the industry in XXI century.</p>

				<p><strong>How  to interpret the future?</strong> From premise of which have to be the conscience that defines the new reality,  <strong>1st World Biomimetics Challenges & Awards</strong>  will bring closer from biomimicry a new social and economic scenario.</p>

				<p><strong>Both events are born with the vision to give the knowledge of a new solutions paradigm.</strong></p>

			</div>

			<hr />

		</div>
	</section>