---
layout: default
---

{% include header-no-home.html %}

<article>

<div class="container">

  <div class="post-content">
    <ol class="breadcrumb">
      <li><a href="{{ site.base_url }}/">Home</a></li>
      {% if page.class == "newsarticle" %}
      <li><a href="{{ site.base_url }}/press-release/#newsarticles">Press</a></li>
      {% endif %}
      {% if page.class == "speakers" %}
      <li><a href="{{ site.base_url }}/#speakers">Speakers</a></li>
      {% endif %}
      {% if page.class == "advisors" %}
      <li><a href="{{ site.base_url }}/#advisors">Advisors</a></li>
      {% endif %}
      {% if page.class == "collaborators" %}
      <li><a href="{{ site.base_url }}/#collaborators">Collaborators</a></li>
      {% endif %}
      {% if page.class == "supporters" %}
      <li><a href="{{ site.base_url }}/#supporters">Support</a></li>
      {% endif %}
      {% if page.class == "conferences" %}
      <li><a href="{{ site.base_url }}/#schedule">Schedule</a></li>
      {% endif %}
      {% if page.class == "videos" %}
      <li><a href="{{ site.base_url }}/videos/">Videos</a></li>
      {% endif %}
      <li class="active">{% if page.class == "newsarticle" %}"{{page.title | truncate: 70 }}..."{% else %}{{ page.title }}{% endif %}</li>
    </ol>
    {{ content }}

  {% if page.share %}<hr/><div class="social-share text-center">
          <ul class="socialcount socialcount-small inline-list">
            <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook"></i> Like</span></a></li>
            {% if page.category != null %}
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{page.title | strip_html | strip_newlines | truncate: 70 | uri_escape }}{% if page.twitter != null %}%20%20({{ page.twitter | replace:"'","\'" | uri_escape}}){% endif %}%20%E2%80%94%20{{page.category | replace:"'","\'" | uri_escape}}%20{{site.twitter-sentence | replace:"'","\'" | uri_escape}}&url={{ site.url }}{{page.url | replace:"'","\'" | uri_escape}}&counturl={{ site.url }}{{page.url | replace:"'","\'" | uri_escape}}'" title="Share on Twitter"><span class="count"><i class="fa fa-twitter"></i> Tweet</span></a></li>
            {% else if %}
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{page.title | strip_html | strip_newlines | truncate: 70 | uri_escape }}%20{{site.twitter-sentence | replace:"'","\'" | uri_escape}}&url={{ site.url }}{{page.url | replace:"'","\'" | uri_escape}}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter"></i> Tweet</span></a></li>
            {% endif %}
            <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus"></i> +1</span></a></li>
          </ul>
        </div></div><hr/>{% endif %}
  </div>

</div>

</article>
